<a href="https://colab.research.google.com/github/MuhammadMohsinAli786/Artificial-Intelligence/blob/main/Assignmnt2(Web_Technology).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.	**Exercise programs on operators & I/O operations.**

##a) Implement python script to read personâ€™s age from keyboard and display whether he is eligible for voting or not.

In [2]:
# Read the age from the user
age = int(input("Enter your age: "))

# Check if the person is eligible to vote
if age >= 18:
    print("You are eligible to vote!")
else:
    print("You are not eligible to vote.")

Enter your age: 21
You are eligible to vote!

#**2.	Exercise programs on Lists.**

##a)	Finding the sum and average of given numbers using lists.

In [4]:
# Input: Enter a list of numbers separated by spaces
input_numbers = input("Enter a list of numbers separated by spaces: ")

# Split the input into a list of numbers
numbers = [float(num) for num in input_numbers.split()]

# Calculate the sum of the numbers
total_sum = sum(numbers)

# Calculate the average
average = total_sum / len(numbers)

# Display the sum and average
print(f"Sum: {total_sum}")
print(f"Average: {average}")

Enter a list of numbers separated by spaces: 10 10 10
Sum: 30.0
Average: 10.0


##b)	To display elements of list in reverse order.

In [5]:
# Input: Enter a list of elements separated by spaces
input_elements = input("Enter a list of elements separated by spaces: ")

# Split the input into a list of elements
elements = input_elements.split()

# Display the elements in reverse order
print("Elements in reverse order:")
for element in elements[::-1]:
    print(element)

Enter a list of elements separated by spaces: 1 2 3 4 5 6 7 8
Elements in reverse order:
8
7
6
5
4
3
2
1


##c)	Finding the minimum and maximum elements in the lists.

In [6]:
# Input: Enter a list of numbers separated by spaces
input_numbers = input("Enter a list of numbers separated by spaces: ")

# Split the input into a list of numbers
numbers = [float(num) for num in input_numbers.split()]

# Find the minimum and maximum elements
minimum = min(numbers)
maximum = max(numbers)

# Display the minimum and maximum elements
print(f"Minimum: {minimum}")
print(f"Maximum: {maximum}")

Enter a list of numbers separated by spaces: 1 2 3 11 111 555 6
Minimum: 1.0
Maximum: 555.0

#3.	Exercise programs on Strings. **
##a)	Implement Python Script to check given string is palindrome or not.

In [7]:
# Input: Enter a string
input_string = input("Enter a string: ")

# Remove spaces and convert the string to lowercase
cleaned_string = input_string.replace(" ", "").lower()

# Check if the cleaned string is equal to its reverse
if cleaned_string == cleaned_string[::-1]:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string: 787
The string is a palindrome.

##b)	Implement python script to accept line of text and find the number of characters, number of vowels and number of blank spaces in it.

In [8]:
# Input: Enter a line of text
text = input("Enter a line of text: ")

# Initialize counters
char_count = 0
vowel_count = 0
space_count = 0

# Define a set of vowels to check against
vowels = set("AEIOUaeiou")

# Iterate through the characters in the input text
for char in text:
    char_count += 1
    if char in vowels:
        vowel_count += 1
    if char.isspace():
        space_count += 1

# Display the results
print(f"Number of characters: {char_count}")
print(f"Number of vowels: {vowel_count}")
print(f"Number of blank spaces: {space_count}")

Enter a line of text: a b c 33 iou bbb678 8383 hdhg
Number of characters: 29
Number of vowels: 4
Number of blank spaces: 7

#4.	Exercise programs on functions.
##a)	Define a function max_of_three() that takes three numbers as arguments and returns the largest of them.

In [9]:
def max_of_three(num1, num2, num3):
    # Use the built-in max() function to find the largest number
    largest = max(num1, num2, num3)
    return largest

# Example usage:
num1 = 10
num2 = 25
num3 = 15
result = max_of_three(num1, num2, num3)
print(f"The largest number among {num1}, {num2}, and {num3} is {result}")

The largest number among 10, 25, and 15 is 25

##b)	Write a program which makes use of function to display all such numbers which are divisible by 7 but are not a multiple of 5, between 1000 and 2000.

In [10]:
def display_numbers_divisible_by_7_not_multiple_of_5(start, end):
    for number in range(start, end + 1):
        if number % 7 == 0 and number % 5 != 0:
            print(number)

# Set the range and call the function
start_range = 1000
end_range = 2000

print(f"Numbers between {start_range} and {end_range} that are divisible by 7 but not multiples of 5:")
display_numbers_divisible_by_7_not_multiple_of_5(start_range, end_range)

Numbers between 1000 and 2000 that are divisible by 7 but not multiples of 5:
1001
1008
1022
1029
1036
1043
1057
1064
1071
1078
1092
1099
1106
1113
1127
1134
1141
1148
1162
1169
1176
1183
1197
1204
1211
1218
1232
1239
1246
1253
1267
1274
1281
1288
1302
1309
1316
1323
1337
1344
1351
1358
1372
1379
1386
1393
1407
1414
1421
1428
1442
1449
1456
1463
1477
1484
1491
1498
1512
1519
1526
1533
1547
1554
1561
1568
1582
1589
1596
1603
1617
1624
1631
1638
1652
1659
1666
1673
1687
1694
1701
1708
1722
1729
1736
1743
1757
1764
1771
1778
1792
1799
1806
1813
1827
1834
1841
1848
1862
1869
1876
1883
1897
1904
1911
1918
1932
1939
1946
1953
1967
1974
1981
1988

#5.	Exercise programs on Tuples.
##a)	Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program: 34, 67, 55, 33, 12, 98. Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34',67', '55', '33', '12', '98').

In [11]:
# Input: Enter a sequence of comma-separated numbers
input_numbers = input("Enter a sequence of comma-separated numbers: ")

# Split the input into a list of numbers
number_list = input_numbers.split(', ')

# Convert the list to a tuple
number_tuple = tuple(number_list)

# Print the list and tuple
print("List:", number_list)
print("Tuple:", number_tuple)

Enter a sequence of comma-separated numbers: 2,4,5,6,7,8,9,,10,11,12,13
List: ['2,4,5,6,7,8,9,,10,11,12,13']
Tuple: ('2,4,5,6,7,8,9,,10,11,12,13',)

##b)	With a given tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10), write a program to print the first half values in one line and the last half values in one line.

In [12]:
# Given tuple
given_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Calculate the midpoint of the tuple
midpoint = len(given_tuple) // 2

# Print the first half
print("First half:", given_tuple[:midpoint])

# Print the last half
print("Last half:", given_tuple[midpoint:])

First half: (1, 2, 3, 4, 5)
Last half: (6, 7, 8, 9, 10)