Lab Task 3  
Muhammad Mohsin Ali
(FA20-BSE-072)

In [1]:
print('Hello World!')
a=7
print(a)

Hello World!
7

In [2]:
print(2345)

2345

In [3]:
print("2092")

2092

In [4]:
a = 100
#print(a)
b = "Python"
print(b)

Python

In [5]:
print("Let's learn about comments.")
# print(it is a single line comment)
print("Icode")

Let's learn about comments.
Icode

In [6]:
print("""Multi-line String""")
'''for multi-line comment, you can use # with every line or
simply use triple inverted commas(multi-line string).
ar
sar
ahghjj 
'''
#single line

print("My name is ayesha. I'm a student at university.I'm a good student.")

Multi-line String
My name is ayesha. I'm a student at university.I'm a good student.

In [8]:
a = "a variable"
#is = "won't allow a variable"
print(a)
#print(is)

a variable

In [9]:
x = 5 
y = 10.3
print('x')
print(y)
print(x,y)

x
10.3
5 10.3

In [10]:
a = "Icode"
b = 'Guru,'
print(a,b)
print(a,',',b)

Icode Guru,
Icode , Guru,

In [11]:
a = 10
a = 5
print(a)

5

In [12]:
x, y, z = "Orange", 5, "Apple"
print(x)
print(y)
print(z)
a , b = 5 , 8
print(a)
print(b)

Orange
5
Apple
5
8

In [13]:
x = y = z = "Orange"
print(x)
print(y)
print(z)
a = b = c = 1
print(a)
print(b)
print(c)

Orange
Orange
Orange
1
1
1

In [14]:
x , y, z , a = 5 , 6, 7  , 8
print(x)
print(y)
print(z)

5
6
7

In [15]:
x = 5
y = 5
x = 10
print(x)
print(y)
print(id(x))
print(id(y))

10
5
9793376
9793216

In [16]:
x = "Hello"
print(id(x))
y = "Hello1"
print(id(y))

139969032483952
139969032485488

In [17]:
string_var = "Programming"
first_var = 20
float_var = 18.23
bool_var = False

print(string_var)
print(first_var)
print(float_var)
print(bool_var)

Programming
20
18.23
False

In [18]:
Var1 = 5
var1 = 1
print(var1)
print(Var1)
var2 = 2.5
print(type(var2))
var3 = """Hello"""
print(type(var3))
var4 = True
print(type(var4))

1
5
<class 'float'>
<class 'str'>
<class 'bool'>

In [19]:
first = "105"
print(type(first))
first = int(first)
print(first)
print(type(first))
second = 90.8
third = str(second)
print(third)
print(type(third))

<class 'str'>
105
<class 'int'>
90.8
<class 'str'>

In [20]:
integer = 6
boolean = bool(integer)
print(boolean)

True

In [21]:
x = "Python is"
X = bool(x)
print(X)
print(type(X))

True
<class 'bool'>

In [23]:
a = int(input("Enter username: "))
print(a)
print(type(a))
print(a+2)

Enter username: 34
34
<class 'int'>
36

In [24]:
print(8.0+4)

12.0

In [26]:
#Addition
a = int(input("Enter a number "))
b = 4
c = a + b
print(c)
print(type(c))
print(3 + 7)

Enter a number 12
16
<class 'int'>
10

In [27]:
#Subtraction
a = 4
b = 5.0

print(a - b)
print(type(a - b))

-1.0
<class 'float'>

In [28]:
#Multiplication
a = 2.0
b = 4
print(a*b)
print(type(a*b))

8.0
<class 'float'>

In [29]:
#Division
x = 5
y = 5
z = x/y   #12/5
print(z)
print(type(z))
var = int(z)
print(var, type(var))

1.0
<class 'float'>
1 <class 'int'>

In [30]:
#Floor Division
x = 5
y = 5
z = x//y
print(z)
print(type(z))

1
<class 'int'>

In [31]:
print(-3/2)

-1.5

In [32]:
#Exponentiation or Exponential
x = 5
y = 2   # 5 raised to power 2, 5*5
print(x**y)  # 1st value = base, 2nd value = power
print(type(x**y))

25
<class 'int'>

In [33]:
#Modulus
x = 5
y = 5
print(x%y)
print(type(x%y))

0
<class 'int'>

In [34]:
print(4 * 3 + 2 / 2)
# BODMAS

13.0

In [35]:
#print('comment')
a = """mulitiline
comment
""
''
lsdfh"""
print(a)

mulitiline
comment
""
''
lsdfh

In [36]:
print(12 + 5 * (4 - 2))

22

In [37]:
x = 5
#x += 3    # x = x+3
#x -= 3      # x = x - 3
#x *= x       # x = 5*5
#x /= 3        # x = x/3
#x %= 3
#x //= 3
x **= 3       
print(x)

125

In [38]:
x = 5
x **= 5    #x = x**5
print(x)

3125

In [39]:
a = 7
b = 10
print(a!=b)
print(a==b)
print(a<b)

True
False
True

In [43]:
x = 9
print(x < 11 and  x < 10)
print(x < 5 or x < 10)
#print( (x < 5 not x < 10))
print(not x > 10)

True
True
True

In [44]:
a = 20
b = 70
print(a==b or a>b)

False

In [45]:
var1 = "Python for Beginners"
print("p" in var1)
var2 = ["orange", 5, "3.5"]
print("orange" not in var2)

print("o" in "iCodeGuru")

False
False
True

In [46]:
a = 10
b = 10

print(a is b)
print(id(a))
print(id(b))

True
9793376
9793376

In [48]:
a = 10
b = "10"
a = 11
print(a is b)
print(id(a))
print(id(b))

False
9793408
139969665902448

In [49]:
message1 = """Hello there, I am learning
python programming language!"""
print(message1)
message2 = '''

Now, we are learning about 
multiline string'''
print(message2)

Hello there, I am learning
python programming language!


Now, we are learning about
multiline string

In [50]:
x = "String"
y = "Concatenation"
print(x + y)
z = x + " " + y  #z = StringConcatenation

print(z)

StringConcatenation
String Concatenation

In [51]:
x = "Hello"
print(x[4])
print(x[0])
print(id(x))

print(id(x[0]))
print(id(x[1]))
message = """Hello there, I am learning
python programming language!"""
print(message[6])

o
H
139969032483952
139969670887728
139969671331504
t

In [52]:
x = "Enter"
print(id(x))
print(id(x[0]))

139969653785264
139969670887536

In [53]:
x = "Pakistan "
print(x*5)

Pakistan Pakistan Pakistan Pakistan Pakistan

In [54]:
x = "Hello"
print(id(x))
print(id(x[3]))

139969032483952
139969671409328

In [55]:
list1 = [2, 3, 4, 66]     #[66, 3, 4, 2]
list1[0] = list1[3]
print(list1)

[66, 3, 4, 66]

In [56]:
string = "Python Programming Language"
print(string[2])
print(len(string))
x = len(string)
print(x)

t
27
27

In [58]:
string = "Python Programming"
#print(string.index("Po"))
index = string.index("y")
print(index)

1

In [59]:
for iterator in "hello+":
  print(iterator)
for x in "Python":
   print("1")

h
e
l
l
o
+
1
1
1
1
1
1

In [60]:
x = "Hello"
print(x[:])
print(x[2::2])

Hello
lo

In [61]:
x = "Hello World"
print(x[::-1])

dlroW olleH

In [62]:
string = "We are learning about string slicing."
print(len(string))
print(string.index(" "))
print(string[2])
print(string[4])
print(string[3:9:2])
print(string[:36:3])
print(string[7::])

37
2

r
ael
Wa ai o rgli
learning about string slicing.

In [63]:
x = "Hello"
print(x[-1])
print(x[:-1:])
print(x[-2:-1])
print(x[::-2])

o
Hell
l
olH

In [65]:
x = "pYtHon"
print(x.capitalize())
string1 = "ProgrAmmiNg"
print(string1.lower())
print(string.capitalize())
print(sorted(string1))
print("".join(string1))

Python
programming
We are learning about string slicing.
['A', 'N', 'P', 'g', 'g', 'i', 'm', 'm', 'o', 'r', 'r']
ProgrAmmiNg

In [66]:
string = "pyyyThon"
x = string.find("y")
print(x)
print(x)

1
1

In [68]:
a = "Hello, World!"
print(a.count("i"))
b = "lHello"
print(b.endswith("lio"))
print(b.startswith("h"))
print(b.find("n"))

0
False
False
-1

In [67]:
string = 'Do you know how to use \t illegal charcters \n in python?'
print(string)

Do you know how to use 	 illegal charcters
 in python?

In [69]:
#print("Hi, {}".format("Ahmad"))
x = "I don't know {}"
print(x.format("programming"))
print(x.format("swimming"))
print(x.format("1"))


a = "Ali"
print(f"My name is {a}")

I don't know programming
I don't know swimming
I don't know 1
My name is Ali

In [71]:
x = "Hello World!"
print(x)
print(x.strip("H"))
print(x.lstrip()) 
#l for left  strip()
print(x.rstrip("d"))  
#(r for right)

Hello World!
ello World!
Hello World!
Hello World!

In [72]:
string = " Hello there!"
print(string.replace(" ", "x"))

xHelloxthere!

In [74]:
message = "We can uses split method to change our string into a list."
print(" ".join(message.split("s")))
print(message.split("pakistan"))
print(type(message.split("pakistan")))

We can u e   plit method to change our  tring into a li t.
['We can uses split method to change our string into a list.']
<class 'list'>

In [75]:
a = "Hello there!"
print(reversed(a))    
  #return type memory location
print("".join(reversed(a)))

<reversed object at 0x7f4d14695e50>
!ereht olleH

In [76]:
x = 1210

print("".join(reversed(str(x))))

0121